@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@font-face {
  font-family: "PretendardBold";
  src: url("/fonts/Pretendard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PretendardRegular";
  src: url("/fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PretendardMedium";
  src: url("/fonts/Pretendard-Medium.ttf") format("truetype");
}

body {
  font-family: "PretendardMedium";
  margin: 0;
}

.h48-bold {
  font-family: "PretendardBold";
  font-size: 48px;
}

.h34-bold {
  font-family: "PretendardBold";
  font-size: 34px;
}

.h24-bold {
  font-family: "PretendardBold";
  font-size: 24px;
}

.h20-bold {
  font-family: "PretendardBold";
  font-size: 20px;
}

.h18-bold {
  font-family: "PretendardBold";
  font-size: 18px;
}

.t20-medium {
  font-family: "PretendardMedium";
  font-size: 20px;
}

.t18-medium {
  font-family: "PretendardMedium";
  font-size: 18px;
}

.t16-medium {
  font-family: "PretendardMedium";
  font-size: 16px;
}

.t14-medium {
  font-family: "PretendardMedium";
  font-size: 14px;
}

.t12-medium {
  font-family: "PretendardMedium";
  font-size: 12px;
}

.b18-regular {
  font-family: "PretendardRegular";
  font-size: 18px;
}

.b16-regular {
  font-family: "PretendardRegular";
  font-size: 16px;
}

.b14-regular {
  font-family: "PretendardRegular";
  font-size: 14px;
}

.b12-regular {
  font-family: "PretendardRegular";
  font-size: 12px;
}

.button16-medium {
  font-family: "PretendardMedium";
  font-size: 16px;
}

.button14-medium {
  font-family: "PretendardMedium";
  font-size: 14px;
}

.button12-medium {
  font-family: "PretendardMedium";
  font-size: 12px;
}

.button11-medium {
  font-family: "PretendardMedium";
  font-size: 11px;
}
